body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, Trebuchet MS, sans-serif
  margin: 0;
  padding: 0;
  background-image:url(images/background-1.png);
  background-repeat:none;
}
.container {
  max-width: 900px;
  margin: 150px auto;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left {
  width: 35%;
  background-color: #00fff7;
  color: #333;
  padding: 20px;
  text-align:left;
}
.left img {
  width: 270px;
  height:270px;
  border-radius: 5%;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(0, 40, 162);
}
.left h2 {
  color: #1b59a5;
  margin: 10px 0;
}
.left p {
  margin: 5px 0;
  font-size: 0.9em;
}
.left .contact-info p {
  font-size: 0.85em;
  margin: 10px 0;
  
}
.left .section-title {
  font-weight: bold;
  color: #1537f8;
  margin-top: 20px;
  text-align: left;
}
.name{
  text-align: center;
}

.right {
  width: 65%;
  padding: 20px;
}
.right .section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.right .section-title {
  font-weight: bold;
  color: #1537f8;
  font-size: 1.1em;
  padding-left: 10px;
  margin-bottom: 10px;
}
.right p, .right ul {
  font-size: 0.9em;
}
.right ul {
  list-style: none;
  padding: 0;
}
.right ul li {
  margin-bottom: 8px;
}
.highlight {
  font-weight: bold;
  color: #333;
}
